<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev6.feed">

    <application android:theme="@style/Theme.LeadPet">

        <activity
            android:name=".view.feedDetailActivity.AdoptFeedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.feedDetailActivity.DonationFeedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.feedDetailActivity.DailyFeedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.FeedActivity"
            android:exported="true"
            android:label="FeedActivity">

        </activity>
    </application>

</manifest>