<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev6.feed">

    <application>
        <activity
            android:name=".view.feedDetailActivity.AdoptFeedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.feedDetailActivity.DonationFeedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.feedDetailActivity.DailyFeedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.FeedActivity"
            android:exported="true"
            android:label="FeedActivity"
            android:theme="@style/Theme.LeadPet.feed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>