<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev6.post">

    <application>
        <activity
            android:name=".LifePostActivity"
            android:exported="false" />
        <activity
            android:name=".PetAdoptPostActivity"
            android:exported="false" />
    </application>

</manifest>