<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev6.post">

    <application>
        <activity
            android:name=".DonateDialogFragment"
            android:exported="false" />
        <activity
            android:name=".PostActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>